[submodule "mob_dirt_monster"]
	path = dirt_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_dirt_monster.git
[submodule "mob_dungeon_master"]
	path = dungeon_master
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_dungeon_master.git
[submodule "mob_lava_flan"]
	path = lava_flan
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_lava_flan.git
[submodule "mob_mese_monster"]
	path = mese_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_mese_monster.git
[submodule "mob_oerkki"]
	path = oerkki
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_oerkki.git
[submodule "mob_sand_monster"]
	path = sand_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_sand_monster.git
[submodule "mob_stone_monster"]
	path = stone_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_stone_monster.git
[submodule "mob_tree_monster"]
	path = tree_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_tree_monster.git
[submodule "mobs_goblins"]
	path = goblins
	url = git://github.com/FreeLikeGNU/mobs_goblins.git
[submodule "slimes_redo"]
	path = slimes
	url = git://github.com/TomasJLuis/mt-slimes-redone.git
[submodule "sneeker"]
	path = sneeker
	url = https://AntumDeluge@github.com/AntumMT/mod-sneeker.git
[submodule "mob_mese_dragon"]
	path = mese_dragon
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_mese_dragon.git
