[submodule "mob_dirt_monster"]
	path = dirt_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_dirt_monster.git
[submodule "mob_dungeon_master"]
	path = dungeon_master
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_dungeon_master.git
[submodule "mob_lava_flan"]
	path = lava_flan
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_lava_flan.git
[submodule "mob_mese_monster"]
	path = mese_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_mese_monster.git
[submodule "mob_oerkki"]
	path = oerkki
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_oerkki.git
[submodule "mob_sand_monster"]
	path = sand_monster
	url = https://AntumDeluge@github.com/AntumMT/mod-mob_sand_monster.git
